API_ID=29039349
API_HASH=431412721f8762f652dbc176a79b2e84
BOT_TOKEN=7743484569:AAGR5BjJ1PaTt2axpQUTlSwcDwlrQdfLLMI
MONGO_DB_URI=mongodb+srv://Dark_infinity_bot:Dark_infinity_bot@cluster0.1q8zf.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
LOGGER_ID=-1002520468109
OWNER_ID=7290350162
STRING_SESSION=BQG7GvUARki39HxB7AcCgj0gKgwL9drDnmdKhrEMriS7hAfhqQqmdHmXHuhyR_5wbKK_wnQVdhkolFWrS__JQ1Xafc1mRIIHuAzW11bYV12NbD-8D-OrHTLUNZNISgDtX-6RpBSJhJxrmwEnEnOOP7OmoHDFhjFNC90M3oJ-fse1IBfslok9UeMQbNBNFs6UAgp6aulxEsgcpUiyGFk2iCfDiGtwzgHjSolIYJRZ58ceOXMhESQlDxcv5VMPRGMbszPbrEhWFIhQzyDl_uZbJrxyFPbk-pxr7Wg6vrUR1GcESSihGEGGCoQNwV7enSZGzwP2HVi5JIhsAGnlgqsXXRe_q7Wi7gAAAAGqtvEXAA
